* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  padding-bottom: 100px;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}


li {
  list-style-type: none;
}

ul {
  padding-inline-start: 20px;
}

p {
  margin: 0;
}



.load-more{
  display: block;
  margin: 30px auto 0;
}

.load-more.hidden {
display: none;
}

.search-form{
text-align: center;
margin-bottom: 30px;
}

.gallery {
display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.info {
  height: 50px;
      display:flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
}

a{
  width: 300px;
  height: 200px;
}


img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


b {
  display: block;
}


.info-item {
  text-align: center;
}

input {
  height: 30px;
  border-radius: 4px;
  border-color: pink;
  background-color: pink;
}

button {
  text-align: center;
height: 30px;
width: 100px;
    border-radius: 4px;
    border: 2px transparent;
    text-align: center;
    cursor: pointer;
    background-color: rgb(112, 201, 104);
}


/* infinite scroll*/

.loading {
	opacity: 0;
	display: flex;
	position: fixed;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	transition: opacity .3s ease-in;
}

.loading.show {
	opacity: 1;
}

.ball {
	background-color: #777;
	border-radius: 50%;
	margin: 5px;
	height: 10px;
	width: 10px;
	animation: jump .5s ease-in infinite;
}

.ball:nth-of-type(2) {
	animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
	animation-delay: 0.2s;
}

@keyframes jump {
	0%, 100% {
		transform: translateY(0);
	}
	
	50% {
		transform: translateY(-10px);
	}
}